.salesbutton{    
    padding: 15px 5px;
    border-radius: 10px;
    background-color: #549300;
    font-weight: 700;  
    font-size: 12px;  
    border: 0;    
    text-transform: uppercase;
    color: white;
    cursor: pointer;
   
}

.fullWidth{
    width: 100%;
}

.salesbutton:hover{
    background-color: #4e8a00;
}