.session{
    margin: 80px 0 ;
}

.salecontainer{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
    gap: 20px;    
}

.gamecontainer{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

@media (min-width: 850px){
    .salecontainer{
        justify-content: space-between;
    }
}
@media (max-width: 850px){
.gamecontainer{
    align-items: center;
}

}