.navbar{
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
    background-color: #14121b;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
}

.searchcontainer{
    min-width: 400px;
    padding: 0 5px;
}


@media (max-width:400px){
    .navbar{
        padding: 0 15px;
    }
}

@media (max-width:658px){
    .searchcontainer{
        min-width: 150px;
    }
    }