.caricon{
    cursor: pointer;
}

.quantity{  
    position: absolute;
    top: 50px;
    right: 60px;   
    z-index: 10;
    padding: 4px;
    background-color: red;
    font-size: 12;
    font-weight: 700;
    border-radius: 50%;
    min-width: 25px;  
    display: flex;
    justify-content: center;
    align-items: center;
}



