.gamecard{
    background: #2983AA;
    display: flex;  
}



.info{
    padding: 20px;   
    display: flex;
    flex-direction: column;
    flex: 1;
}
.title{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;  
    min-width: max-content ;
}

.category{
    font-size: 16px;
    color: #C7C7C7 ;
    font-weight: 400;
    flex: 1;
}

.pricecontainer{
    display: flex;
    align-items: center;
    justify-content: space-between; 
 }

.price{
    color: #BEEB14;
    font-size: 32px;
}

@media (max-width:768px) {

    .image{
        width: 100%;
        height: auto;
        object-fit: contain;
    }
    .gamecard{
        flex-direction: column;
        
    }
    .title{
        min-width: auto ;
    }

    .pricecontainer{
        flex-direction: column;
    }

    .price{
        padding: 6px 0;
    }

}